body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header img {
    width: 100px; 
    height: auto; 
    margin-right: 10px;
    border-radius: 50%; 
}
h1 {
    display: inline;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-family: 'Georgia', 'Times New Roman', serif;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 125px;
    z-index: 1000;
}
nav a {
    color: #fff;
    font-family: 'Georgia', 'Times New Roman', serif;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #555;
}
section {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}
section article {
    margin-bottom: 30px;
}
section h2 {
    font-size: 2em;
    color: #a204fd;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Georgia', 'Times New Roman', serif;
}
section h3 {
    font-size: 1.5em;
    color: #407ecf;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Georgia', 'Times New Roman', serif;
}
section p {
    color: black;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'Georgia', 'Times New Roman', serif;
}
section img {
    max-width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
